# Nuxt
.nuxt
.output
.data
dist

# Node
node_modules
*.log

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# Test
coverage
playwright-report
test-results

# Misc
*.tgz
.eslintcache
